.reveal {
  .logos {
    display: flex;
    flex-flow: column nowrap;
  }
  .logos-link {
    border: none;
    flex: 1;
    text-align: center;
    display: inline-block;
    padding: 15px;
  }
  .logos-logo {
    height: 150px;
    max-height: 250px;
  }

  .intro-author {
    margin-top: 3rem;
  }
}
